.image{
    scale: 0.5;
    margin-top: -10px;
    display: inline-block;
}

.UserProfile{
    font-size: large;
}

.NavBarContainer{
    background: #049DD8;
    height: 40px;
}

li{
    list-style-type: none;
    float: right;
}

.navbarElements{
    padding-left: 10px;
    padding-right: 10px;
}